body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container, .container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-top: 60px;
}

label {
    font-weight: bold;
}

input, button, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    background-color: #00bfff; /* Azul celeste */
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #009ac1; /* Azul más oscuro al pasar el ratón */
}

.output {
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.record-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px; /* Ajustar según el tamaño real de la imagen */
    height: auto;
}
