body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadido para mejorar la visibilidad */
}

h2 {
    text-align: center;
    margin-top: 60px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input, button, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Añadido para un borde en los inputs y selects */
    border-radius: 4px; /* Añadido para bordes redondeados en inputs y selects */
}

.btn {
    background-color: #00bfff; /* Azul celeste */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Añadido para bordes redondeados en botones */
}

.btn:hover {
    background-color: #009acd;
}

.output {
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Añadido para un borde alrededor del área de salida */
}

.record-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff; /* Añadido para fondo blanco en la lista de registros */
    border-radius: 4px; /* Añadido para bordes redondeados en la lista de registros */
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 96px;
}
